@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #010b13;
    /* margin: 0; */

.navbar-nav .nav-link {
    color: white;
}
.navbar-logo{
    max-width: 60px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.navbar-logo,
.website-name {
  display: inline;
}
.website-name {
    margin-left: 15px;
  }

.header-section{
    background-color: #010b13;

}

.banner-image {
        width: 582px;
        height: 752px;
        padding-left: 80px;
        margin-top: -50px;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
    }

    #button1{
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 12px;
            border-radius: 5px;
 
    }

    #button2{
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 12px;
        padding-bottom: 5px;
    }

    #ticket-button{
        margin-top: -14px;
        padding-top: 12px;
    }

      .picture-section {
        position: relative;
        width: 390px;
        height: 390px; 
        border-radius: 50%; 
        overflow: hidden; 
      }

      .picture-section img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }


      

      .text-section p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        font-weight: lighter;
      }
      .text-section a{
        text-decoration: none;
        /* color: white; */
      }
      
      /* @media (max-width: 767px) {
        .text-section,
        .picture-section {
          height: auto;
        }
      } */

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.divider {
    height: 1px;
    background-color: #ccc; 
    margin-top: -60px;
  }


.heading{
    padding-bottom: 60px;
}

.custom-container{
    background-color: #0b0C10;
    padding-top: 30px;
    padding-bottom : 5px;
}

.video-section{
    padding-top: 50px;
    padding-bottom: 50px;
}


.scrollBox
{
    width: 420px;
    height: 73vh;
    margin: 10px 5px;
    margin-top: 0px;
    overflow-y: scroll;
    border-radius: 5px;
    background: transparent;
}



.video-gallery-container .video
{
    float: left;
    width: 860px;
    height: 100%;
    padding: 25px 20px;
    border-radius: 30px;
}


video
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    outline: none;
}
.box
{
    overflow: hidden;
    max-width: 400px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
}

.box img
{
    width: 100%;
    display: block;
}

.scrollTop
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 100000;
}

.accordion{
    background-color: transparent;
}
.accordion-item{
    background-color: transparent;
}








@media(max-width: 1310px){
    .video-gallery-container
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }
}
@media(max-width: 865px){
    .video-gallery-container .video
    {
        width: 95%;
        float: none;
    }
    .video-gallery-container .scrollBox
    {
        float: none;
    }
}
@media(max-width: 775px){
    .video-gallery-container .video
    {
        width: 95%;
    }
}
/* @media(max-width: 600px){

} */


@media screen and (max-width: 600px){
    .banner-image {
        width: 182px;
        height: 252px;
        padding-left: 80px;
        margin-top: -50px;
    }



    .video-gallery-container .video
    {
        padding-top: 30%;
    }
}


.footer-text{
    font-size: 29px;

    line-height: 1.4;
  }
}