@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    font-family: 'Poppins', sans-serif;
    background-color: #010b13;
    margin: 0;
    overflow-x: hidden;

.navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-link:hover{
    color: lightslategray;
}
.navbar-logo{
    max-width: 60px;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.navbar-logo,
.website-name {
  display: inline;
}
.website-name {
    margin-left: 15px;
  }

.header-section{
    background-color: #010b13;

}

.banner-image {
        width: 660px;
        height: 690px;
        padding-left: 80px;
        margin-top: -50px;
    }

    .banner-image img {
        width: 100%;
        height: 100%;
    }

    #button1 {
        display: inline-block;
        padding-top: 0.775rem ;
        padding-bottom: 0.450rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        text-transform: none;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        color: #f8f9fa;
        background-color: transparent;
        border-color: #f8f9fa;
      }
    
      #button1:hover {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
      }

    #button2{
        padding-left: 17px;
        padding-right: 17px;
        padding-top: 12px;
        padding-bottom: 5px;
    }


    #button3 {
        display: inline-block;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        text-align: center;
        text-transform: none;
        white-space: nowrap;
        vertical-align: middle;
        border: 1px solid transparent;
        border-radius: 0.25rem;
        color: #f8f9fa;
        background-color: transparent;
        border-color: #f8f9fa;
      }
    
      #button3:hover {
        color: #212529;
        background-color: #f8f9fa;
        border-color: #f8f9fa;
      }
      
    
      .banner-heading{
        font-size: 30px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
      }


      .picture-section {
        position: relative;
        width: 390px;
        height: 390px; 
        border-radius: 50%; 
        overflow: hidden; 
      }

      .picture-section img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .text-section p {
        font-size: 14px;
        line-height: 1.5;
        letter-spacing: 1px;
        font-weight: lighter;
      }
      .text-section a{
        text-decoration: none;
      }
      

.section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.divider {
    height: 1px;
    background-color: #ccc; 
    margin-top: -60px;
  }


.heading{
    padding-bottom: 60px;
}

.custom-container{
    background-color: #0b0C10;
    padding-top: 30px;
    padding-bottom : 5px;
}

.video-section{
    padding-top: 50px;
    padding-bottom: 50px;
}


.scrollBox
{
    width: 420px;
    height: 73vh;
    margin: 10px 5px;
    margin-top: 0px;
    overflow-y: scroll;
    border-radius: 5px;
    background: transparent;
}



.video-gallery-container .video-boxed
{
    float: left;
    width: 860px;
    height: 100%;
    padding: 25px 20px;
}

.video-boxed
{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    outline: none;
}
.box
{
    overflow: hidden;
    max-width: 300px;
    margin: 10px 10px;
    display: inline-block;
    position: relative;
}

.box img
{
    width: 100%;
    display: block;
}


.accordion{
    background-color: transparent;
}
.accordion-item{
background-color: transparent;
}

@media screen and (max-width: 600px)
{



    .video-gallery-container{
        overflow-x: hidden;
    }
    .website-name{
        font-size: 20px;
    }
    .navbar-toggler-icon {
        background-image: var(--bs-navbar-toggler-icon-bg);
        filter: invert(1);
    }
    .banner-content .row {
    width: 100%;
      }
    .banner-image {
        width: 100%;
        height: auto;
    }
    .video-gallery-container .video-boxed {
        width: 100%;
    }
    .video-slider iframe{
        width: 100%;
        height: auto;
    }
.banner-heading{
    padding-top: 15px;
    font-size: 5px;
    padding-left: 10px;
}
.divider{
    display: none;
}
.music-section .card-title{
    font-size: 13px;

}
.music-section #button3 {
 font-size: 11px;
 padding: 6px 12px;
}
#button1 {
    padding-bottom: 5px;
}

.box{
    width: 190px;
}
.box-heading{
    font-size: 19px;

}
.footer-text{
    font-size: 5px;
    line-height: 1.2;
  }

}

@media screen and (max-width: 768px) {

    .body{
        overflow-x: hidden;
        max-width: 100%;
    }
    .navbar-toggler-icon {
        background-image: var(--bs-navbar-toggler-icon-bg);
        filter: invert(1);
    }
    .banner-image {
        width: 100%;
        height: auto;
        padding-left: 10px;
    }
    .banner-heading{
        font-size: 40px;
        padding-top: 50px;
    }
    .video-gallery-container .video-boxed {
        width: 100%;
    }
       #button1{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 15px;
        border-radius: 11px;
}
    .divider{
        margin-top: 40px;
    }
}

@media screen and (min-width: 992px) {
    .body{
        overflow-x: hidden;
        max-width: 100%;
    }
}

.footer-text{
    font-size: 12px;
    line-height: 1.4;
  }
}